<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
</head>
<body>
    <h1>Registros</h1>
    <p>ID Registro: <span th:text="${registro.id}"></span></p>
    <p>Nome Professor: <span th:text="${registro.professor.nome}"></span></p>
    <p>Nome Aluno: <span th:text="${registro.aluno.nome}"></span></p>
    <p>Marca Notebook: <span th:text="${registro.notebook.marca}"></span></p>
    <p>Modelo Notebook: <span th:text="${registro.notebook.modelo}"></span></p>
    <p>Descrição da Disciplina: <span th:text="${registro.disciplina.descricao}"></span></p>
    <p>Dia da Semana: <span th:text="${registro.disciplina.dia_semana}"></span></p>
</body>
</html>